<div class="card" ng-controller="UserChoosenCtrl">
  <div class="card-body">
    <p>{{ 'ID' | translate }}: <strong>{{ user.list[user.selectedId].id || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p class="capitalize">{{ 'ROLE' | translate }}: <strong>{{ user.list[user.selectedId].role === 'Ordinary' ? ('ORDINARY' | translate) : ('ADMINISTRATOR' | translate) || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'EMAIL' | translate }}: <strong>{{ user.list[user.selectedId].email || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'USERNAME' | translate }}: <strong>{{ user.list[user.selectedId].name || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'AGE' | translate }}: <strong>{{ user.list[user.selectedId].age || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'BIRTHDAY' | translate }}: <strong>{{ user.list[user.selectedId].birthday || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'LOGIN' | translate }}: <strong>{{ user.list[user.selectedId].login || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
    <p>{{ 'NOTIFICATION' | translate }}: <strong>{{ user.list[user.selectedId].notification || 'IS_NOT_CHOOSEN' | translate }}</strong></p>
  </div>
</div>
