<div ng-controller="ProfileCtrl">
  <h2>{{ 'PROFILE' | translate }}</h2>
  <p>{{ 'ID' | translate }}: <strong>{{ profile.id }}</strong></p>
  <p>{{ 'EMAIL' | translate }}: <strong>{{ profile.email }}</strong></p>
  <p>{{ 'USERNAME' | translate }}: <strong>{{ profile.name }}</strong></p>
  <p>{{ 'AGE' | translate }}: <strong>{{ profile.age }}</strong></p>
  <p>{{ 'BIRTHDAY' | translate }}: <strong>{{ profile.birthday }}</strong></p>
  <p>{{ 'LOGIN' | translate }}: <strong>{{ profile.login }}</strong></p>
  <p>{{ 'NOTIFICATION' | translate }}: <strong>{{ profile.notification }}</strong></p>
</div>
