<div class="row">
  <div class="col-md-12">
    <h1>{{ 'FORGET_PASSWORD' | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">{{ 'EMAIL' | translate }}</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ 'ENTER_EMAIL' | translate }}">
      </div>
      <button type="submit" class="btn btn-primary">{{ 'RECOVER_PASSWORD' | translate }}</button>
    </form>
  </div>
</div>
