<div class="row user-list" ng-controller="UserListCtrl">
  <div class="col-md-12">
    <p ng-if="isObjectEmpty(userList)">There is no any user!</p>
    <ul class="list-group"">
      <li ng-class="['list-group-item', $index !== index || 'hover', profile.data.id !== val.id || 'hover']" ng-repeat="(key, val) in userList" ng-mouseover="onMouseOver($index)" ng-mouseout="onMouseOut($index)" ng-click="onClick(val.id)">
        <p>{{ 'ID' | translate }}: <strong>{{ val.id }}</strong></p>
        <p>{{ 'Role' | translate }}: <strong>{{ val.role }}</strong></p>
        <p>{{ 'EMAIL' | translate }}: <strong>{{ val.email }}</strong></p>
        <p>{{ 'USERNAME' | translate }}: <strong>{{ val.name }}</strong></p>
        <p>{{ 'AGE' | translate }}: <strong>{{ val.age }}</strong></p>
        <p>{{ 'BIRTHDAY' | translate }}: <strong>{{ val.birthday }}</strong></p>
        <p>{{ 'LOGIN' | translate }}: <strong>{{ val.login }}</strong></p>
        <p>{{ 'NOTIFICATION' | translate }}: <strong>{{ val.notification }}</strong></p>
        <div class="btn-group user-actions" role="group">
          <button type="button" class="btn btn-outline-warning" ng-click="update($event, val.id)">Edit</button>
          <button type="button" class="btn btn-outline-danger" ng-click="delete($event, val.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
